<!-- /snippets/smoked-in-detroit.liquid -->

<div id="hero-smoked-in-detroit">
  <div class="wrapper">
    {{ 'smoked-detroit-headline.png' | asset_url | img_tag }}
    <ul>
      <li>{{ 'smoked-detroit-01.jpg' | asset_url | img_tag }}</li>
      <li>{{ 'smoked-detroit-02.jpg' | asset_url | img_tag }}</li>
      <li>{{ 'smoked-detroit-03.jpg' | asset_url | img_tag }}</li>
    </ul>
    <div class="silly-mega-button"><p><a href="{{ pages.our-story.url }}" class="btn btn--alt">Our Story</a></p></div>
  </div>
</div>
