<!-- /templates/index.liquid -->

{% include 'hero-carousel' %}

{% assign collectionSausages = collections["smoked-shorty-sausages"] %}
<div class="wrapper">
  <div class="collection-container collection-container__{{ collectionSausages.handle }}">
    {{ collectionSausages.handle | append: '-collection-header.png' | asset_url | img_tag: collectionSausages.title | link_to: collectionSausages.url, collectionSausages.title }}
    <p class="lead">Roll Over to Explore Our Flavors</p>
    <div class="collection-container-duct-tape">
      <div class="collection-carousel" id="shorty-collection-carousel">
  {% for product in collectionSausages.products %}
        <div class="collection-carousel__item">
          <a href="{{ product.url | within: collection }}"><img src="{{ product.featured_image.src | img_url: 'grande' }}" alt="{{ product.featured_image.alt | escape }}"></a>
        </div>
  {% endfor %}
      </div>
      <!-- {{ 'tmp-home-smoked-shorty-sausages-stack.png' | asset_url | img_tag: collectionSausages.title | link_to: collectionSausages.url, collectionSausages.title }} -->
    </div>
    <div class="silly-mega-button"><p><a href="{{ collectionSausages.url }}" class="btn btn--alt">Shop Smoked<br class="medium-down--show" /> Shorty® Sausages</a></p></div>
  </div>
</div>

{% assign collectionStrips = collections["beef-steak-strips"] %}
<div class="wrapper">
  <div class="collection-container collection-container__{{ collectionStrips.handle }}">
    {{ collectionStrips.handle | append: '-collection-header.png' | asset_url | img_tag: collectionStrips.title | link_to: collectionStrips.url, collectionStrips.title }}
    <div class="collection-container-duct-tape">
      <div class="collection-carousel" id="strips-collection-carousel">
  {% for product in collectionStrips.products %}
        <div class="collection-carousel__item">
          <a href="{{ product.url | within: collection }}"><img src="{{ product.featured_image.src | img_url: 'grande' }}" alt="{{ product.featured_image.alt | escape }}"></a>
        </div>
  {% endfor %}
      </div>
    </div>
    <div class="silly-mega-button"><p><a href="{{ collectionStrips.url }}" class="btn btn--alt">Shop Beef<br class="medium-down--show" /> Steak Strips</a></p></div>
  </div>
</div>

{% include 'fixins' %}
{% include 'our-process' %}
{% include 'smoked-in-detroit' %}
{% include 'meat-not-candy' %}
