<!-- /templates/index.liquid -->

{% include 'hero-carousel' %}

{% assign collectionSausages = collections["smoked-shorty-sausages"] %}
<div class="wrapper">
  <div class="collection-container collection-container__{{ collectionSausages.handle }}">
    <div class="collection-container-duct-tape">
      {{ collectionSausages.handle | append: '-collection-header.png' | asset_url | img_tag: collectionSausages.title | link_to: collectionSausages.url, collectionSausages.title }}
      {{ 'tmp-home-smoked-shorty-sausages-stack.png' | asset_url | img_tag: collectionSausages.title | link_to: collectionSausages.url, collectionSausages.title }}
    </div>
    <div class="silly-mega-button"><p><a href="{{ collectionSausages.url }}" class="btn btn--alt">Shop Smoked<br class="medium-down--show" /> Shorty® Sausages</a></p></div>
  </div>
</div>

{% assign collectionStrips = collections["beef-steak-strips"] %}
<div class="wrapper">
  <div class="collection-container collection-container__{{ collectionStrips.handle }}">
    <div class="collection-container-duct-tape">
      {{ collectionStrips.handle | append: '-collection-header.png' | asset_url | img_tag: collectionStrips.title | link_to: collectionStrips.url, collectionStrips.title }}
      {{ 'tmp-home-beef-steak-strips-stack.png' | asset_url | img_tag: collectionStrips.title | link_to: collectionStrips.url, collectionStrips.title }}
    </div>
    <div class="silly-mega-button"><p><a href="{{ collectionStrips.url }}" class="btn btn--alt">Shop Beef<br class="medium-down--show" /> Steak Strips</a></p></div>
  </div>
</div>

{% include 'fixins' %}
{% include 'our-process' %}
{% include 'smoked-in-detroit' %}
{% include 'meat-not-candy' %}
