<!-- /templates/page.our-story.liquid -->

<div class="our-story-hero-container">
  <div class="headline">
    {{ 'our-story-obsessed-headline.png' | asset_url | img_tag }}
  </div>
</div>

<div class="wrapper-duct-tape">
  <div class="our-story-all-started-container">
    {{ 'our-story-duke-01.jpg' | asset_url | img_tag }}
    <div class="our-story-all-started-container__copy-box">
      <div>
        <h3>Meet the man behind the meat.</h3>
        <p>The real Duke is actually a guy named Justin. An Eagle Scout who grew up running around the Rocky Mountains searching out roadside jerky stands and exploring Colorado’s back country with his family.</p>
      </div>
    </div>
  </div>
  <div class="our-story-all-started-bottom-container">
    {{ 'our-story-duke-02.jpg' | asset_url | img_tag }}
    <div>
      <p>His undying love of smoked meats really kicked into high gear when a neighbor gave him an old backyard smoker. Something inside Justin just clicked and he dedicated all of his free time obsessing over different cuts of meat, inventing, and reinventing the perfect marinades and using unique hardwood smokes on jerkies and slow-dried sausages.</p>
      <p>After months of taste testing smoked meats, his brother said, “You know, Justin, you’re like the Duke of Jerky.” And thus, Duke’s was born.</p>
    </div>
  </div>
</div>

<div class="wrapper-duct-tape">
  <div class="our-story-big-leagues-container">
    <div class="headline">
      {{ 'our-story-big-leagues-headline.png' | asset_url | img_tag }}
    </div>
    <div class="our-story-big-leagues-left">
      <p>Long story short, our original flavors were not only a big hit with friends and family, but we were lucky enough to gain fans across the country.</p>
      <p>What better way to keep up with demand than to grow our operation to the great hardworking city of Detroit. Duke’s has the best of both worlds, pairing our creative Rocky Mountain heritage with a city known for it’s work ethic and craftsmanship.</p>
      {{ 'our-story-big-leagues-01.jpg' | asset_url | img_tag }}
    </div>
    <div class="our-story-big-leagues-right">
      {{ 'our-story-big-leagues-02.jpg' | asset_url | img_tag }}
      <p>While our crew has gotten bigger, we haven’t lost an ounce of the integrity in our flavors, ingredients or our slow no-shortcut process that got us to where we are today.</p>
    </div>
  </div>
</div>

<div class="our-story-meat-geeks-container">
  <div class="headline">
    {{ 'our-story-meat-geeks-headline.png' | asset_url | img_tag }}
  </div>
  <p>What happens when you add a pale ale and dark chocolate marinade to beef steak strips? Or how about a coconut and sesame Shorty® Sausage slow smoked over bamboo wood? The short answer is, we’ve got no idea. But we can promise you that our band of meat loving craftologists will keep taste testing any and all flavor combinations to keep our meats inspiring and delicious.</p>
  <div class="collage-container">
    <div class="collage">
      {{ 'meat-geeks-collage-01.jpg' | asset_url | img_tag }}
      {{ 'meat-geeks-collage-02.jpg' | asset_url | img_tag }}
      {{ 'meat-geeks-collage-03.jpg' | asset_url | img_tag }}
      {{ 'meat-geeks-collage-04.jpg' | asset_url | img_tag }}
      {{ 'meat-geeks-collage-05.jpg' | asset_url | img_tag }}
      {{ 'meat-geeks-collage-06.jpg' | asset_url | img_tag }}
      {{ 'meat-geeks-collage-07.jpg' | asset_url | img_tag }}
      {{ 'meat-geeks-collage-09.jpg' | asset_url | img_tag }}
      {{ 'meat-geeks-collage-08.jpg' | asset_url | img_tag }}
      {{ 'meat-geeks-collage-10.jpg' | asset_url | img_tag }}
      {{ 'meat-geeks-collage-11.jpg' | asset_url | img_tag }}
      {{ 'meat-geeks-collage-12.jpg' | asset_url | img_tag }}
      {{ 'meat-geeks-collage-13.jpg' | asset_url | img_tag }}
      {{ 'meat-geeks-collage-14.jpg' | asset_url | img_tag }}
      {{ 'meat-geeks-collage-15.jpg' | asset_url | img_tag }}
    </div>
  </div>
</div>

<div class="our-story-tribe-container">
  <div class="headline">
    {{ 'our-story-tribe-headline.png' | asset_url | img_tag }}
  </div>
  <div class="quote-stack">
    {{ 'our-story-tribe-quote-stack.png' | asset_url | img_tag }}
  </div>
</div>
